@model KudosCorner.Models.Kudo

@{
    int Count = Model.Congrats_Messages.Count;
    int i;
}


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div>
        <h4>Kudo</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Image_Link)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Image_Link)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(item => item.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => Model.Congrats_Messages/*htmlAttributes: new { @class = "control-label col-md-2" }*/)
            </dt>

            <dd>
                @for (i = 0; i < Model.Congrats_Messages.Count; i++)
                {
                    <!-- <div class="form-group">-->

                    @Html.DisplayFor(modelItem => Model.Congrats_Messages[i].Message)
                    <br />
                }
            </dd>

            <dt>Your Wish</dt>


            <dd>

                <div class="form-group">
                   <h5>Your wish</h5>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Congrats_Messages[0], "Wish", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Congrats_Messages[0], "", new { @class = "text-danger" })
                    </div>
                </div>


            </dd>


        </dl>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

    </div>
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KudoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
